.test__choose {
  background: #ffffff;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.008em;
  color: #000000;
  margin: 0;
  padding: 0;
}

.select {
  border: 0.5px solid #000000;
  border-radius: 8px;
  width: 111px;
  height: 36px;
}
