.accordion {
  width: 100%;
  background-color: #e1e1fb;
}

.container__naming {
  display: flex;
  padding: 20px;
  align-items: center;
}

.container__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #373745;
  margin: 0 20% 0 0;
  width: 15%;
}

.accordion-title:hover {
  background-color: #3ab4cc;
}

.accordian__content {
  background-color: #39b9d2;
  height: 0;
  opacity: 0;
  display: flex;
  overflow: hidden;
  transition: all 600ms ease-in-out;
}

.show {
  height: 200px;
  opacity: 1;
}

.container__button {
  width: 10px;
  height: 6px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
